aiofiles==0.4.0
alembic==1.0.7
httptools==0.0.11
Mako==1.0.7
manage.py==0.2.10
MarkupSafe==1.0
multidict==4.4.2
psycopg2==2.7.7
python-editor==1.0.3
Sanic==20.12.7
SQLAlchemy==1.2.8
ujson==1.35
uvloop==0.11.3
