aiofiles==0.3.0
alembic==0.8.9
httptools==0.0.9
Mako==1.0.6
manage.py==0.2.10
MarkupSafe==0.23
multidict==2.1.4
psycopg2==2.6.2
python-editor==1.0.3
Sanic==0.1.8
SQLAlchemy==1.1.4
ujson==1.35
uvloop==0.6.7
